body{
    background-color:#c1d5e0;  
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

h1{
    color:#544A5E; 
    background-image: url("../images/gradient.png");
    background-position: 100% 100%;
    background-repeat: repeat-x;
    
    font-family: 'Libre Baskerville', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

h2{
    color:#211C20; 
    background-image: url("../images/gradient.png");
    background-position: 100% 100%;
    background-repeat: repeat-x;
    
    font-family: 'Libre Baskerville', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    color:#0043ca;
    text-decoration: none;
}

header a {
    color:#E87F61; 
}

header nav li{
    list-style: none;
}

ul li{
    list-style: circle;
}

.byline{
    opacity:0.5;
    font-size:70%;
}

#page-copyright{
    color:#002171;  
    text-transform: uppercase;
    letter-spacing: 3px;
}

.bio p{
    text-indent: 3em;
}

footer{
    text-align: center;
    font-size:12px;
    
}